@import "./../../../node_modules/bootstrap/less/bootstrap";

// @import "./spark/spark";
@import "./../../../vendor/laravel/spark/resources/assets/less/spark";

.navbar-default {
  border:none;
  background:transparent;
}

.navbar-toggle {
  padding: 9px 10px 4px 10px;
  margin: 8px 15px 0 0;
}