@import "./../../../node_modules/bootstrap/less/bootstrap";
@import "./../../../vendor/laravel/spark/resources/assets/less/spark";
@import "./tabbular.css";
@import "./animate.min.css";
@import "./contact.css";

html body {
}
html {
  background-color: #1a1a1a;
}

body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  background-color: #fafaff;
  font-family     : 'Raleway', sans-serif;
  font-weight     : 300;
  letter-spacing  :  0.07em;
  color           : #535965;
  padding-bottom  : 0 !important;
  font-size: 16px;
}

h2, .h2 {
  font-size:1.65em;
}

.navbar-default {
  border:none;
  background:#fafaff;
}

.navbar-toggle {
}

.jumbotron {
  background-color:white;
  box-shadow: #333333 0px 0px 8px;
}

.article img, .jumbotron img{
  width:100%;
}

.article img {
  margin-bottom:1em;
  border-radius:6px;
  box-shadow: #333333 0px 0px 8px;
}
.article img.logo {
  box-shadow:none;
}
.icon-section {
  background-color : #3ab0f5;
  line-height      : 0px;
  padding-top      : 7px;
  border-bottom-left-radius:2em;
  font-weight:600;
}

.icon-section a:link,
.icon-section a:visited {
  color:white;
}
.icon-section a:hover,
.icon-section a:active {
  color : #757b87;
  text-decoration : none;
}

a:link,
a:visited,
a:hover,
a:active {
  color           : #757b87;
  text-decoration : none;
}
ul {
  list-style-type : none;
}
li label {
  position    : relative;
  bottom      : 5px;
  color       : #757b87;
  font-weight : lighter;
}
label {
  color       : #757b87;
  font-weight : lighter;
  padding     : 10px 5px;
}
p {
  text-align : justify;
}
p label {
  text-align : justify;
}

.btn {
  font-size:16px;
}
.btn-primary {
  color:white;
}

.primary,
.primary > a,
.primary > a:visited,
.primary > a:hover,
.primary > a:active {
  color           : #128BC6;
  text-decoration : none;
}

.bg-default {
  background-color : #f5f5f5;
}
.bg-primary {
  background-color : #337ab7;
  color            : #fff;
}
.bg-success {
  background-color : #464b17;
  color            : #fff;
}
.bg-danger {
  background-color : #ef6f6c;
  color            : #fff;
}
.bg-warning {
  background-color : #f89a14;
  color            : #fff;
}
/* ---------- //Text-Bg color Code Css End ---------- */
/* ---------- Why choose us Section css ---------- */

#accordion {
  margin-top : 2%;
}
.text_bg {
  background-color : #f2eded !important;
}
/* ---------- //Why choose us Section End ---------- */
/* ---------- Text-Bg Border color Code Css ---------- */

.border-primary {
  border-bottom  : 2px solid #418bca;
  padding-bottom : 5px;
}
.border-warning {
  border-bottom  : 2px solid #f89a14;
  padding-bottom : 5px;
}
.border-success {
  border-bottom  : 2px solid #464b17;
  padding-bottom : 5px;
}
.border-danger {
  border-bottom  : 2px solid #ef6f6c;
  padding-bottom : 5px;
}
/* ---------- //Text-Bg Border color Code Css End---------- */
/* ---------- Text-Success Css---------- */

.text-success {
  color            : #464b17;
  background-color : inherit;
}
.success {
  color: #3f844e;
}
.footer-link {
  color: #CCCCCC;
}
.footer-link a:visited, .footer-link a:link {
  color: #CCCCCC;
  transition: all 0.5s;
}
.footer-link a:hover, .footer-link a:active, .footer-link a:focus {
  color: #FFFFFF;
  transition: all 0.5s;
}
.text-danger {
  color : #ef6f6c;
}
.warning {
  color:#f89a14;
}
.yellow {
  color: #FFD43C;
}
.icon-position label {
  padding-left : 0;
  margin-left  : 0;
}
.navbar-nav > li > a {
  font-size      : 16px;
  text-transform : uppercase;
  font-weight    : 300;
}


.icon3 {
  position : relative;
  top      : 5px;
  left     : 0;
}
.icon4 {
  left : -1px;
  top  : 3px;
}
.navbar-default .navbar-toggle {
  border: 1px solid #418bca;
  opacity: 0.6;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #418bca;
}
.navbar-nav > li > a, .navbar-brand, .hamburger{
  height: 50px;
}
.navbar {
  border-top:none;
  border-bottom:1px solid #ccc;
  background-color: #ffffff;
}
.carousel-indicators .active {
  width            : 14px;
  height           : 14px;
  margin           : 0;
  background-color : #ededed;
  border           : 2px solid #5E5E5E;
}
.carousel-indicators li {
  border : 1px solid #5E5E5E;
  width  : 13px;
  height : 13px;
}
.carousel-caption {
  font-size : 30px;
}

blockquote {
  border-left : 2px solid #ef6f6c;
}

.features i {
  line-height : 2px;
  float       : left;
  margin      : 1px 5px;
}
/* ---------- //Feature Section Css End ---------- */
/* ---------- Menu Section Css ---------- */

.menu > li {
  border  : 1px solid #f89a14;
  padding : 10px 13px;
  margin  : 0 10px;
}
.menu {
  margin-top : 20px;
}
.menu > li:hover,
.menu li .active {
  background-color : #464b17;
}
/* ---------- //Menu Section Css End ---------- */

.tabbable-panel ul {
  list-style-type : none;
}
/* ---------- Our services Box  Style Css ---------- */

.box {
  border-radius : 3px;
  box-shadow    : 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding       : 10px 15px;
  text-align    : right;
  display       : block;
  margin-top    : 60px;
  margin-bottom : 15px;
}
/* ---------- //Our services Box  Style Css End ---------- */
/* ------------- Our Services Box Icon Css ---------- */

.box-icon {
  background-color : transparent;
  border           : 1px solid #3f844e;
  border-radius    : 50%;
  display          : table;
  height           : 80px;
  margin           : 0 auto;
  width            : 80px;
  margin-top       : -61px;
}
/* ------------- //Our Services Box Icon Css End ---------- */

.box-icon span {
  color          : #fff;
  display        : table-cell;
  text-align     : center;
  vertical-align : middle;
}
/* ---------- Our Services Icon Border css ---------- */

.box-icon1 {
  border : 1px solid #128BC6;
}
.box-icon2 {
  border : 1px solid #f89a14;
}
.box-icon3 {
  border : 1px solid #FFD43C;
}
.info > p {
  color       : #787878;
  font-size   : 14px;
  padding-top : 10px;
  text-align  : justify;
}
.diy-icon {
  position : relative;
  right    : 11px;
  top      : 11px;
}
.icon1 {
  position : relative;
  right    : 11px;
  top      : 11px;
}
.feature-main {
  padding          : 50px 0;
  background-color : #f2eded;
}
.feature-main1 {
  padding : 50px 0;
}
.layout-styl {
  padding : 80px 0;
}
.layout-styl li {
  margin-bottom : 20px;
  font-size     : 21px;
  font-weight   : 300 !important;
  color         : #515763;
  text-align    : left
}

.bg-border {
  padding-top    : 20px;
  padding-bottom : 20px;
  width          : 100%;
}

.tagline {
  background: #262626 url('/images/cutty.jpg') center center no-repeat;
  background-size:cover;
  padding:4em 0;
  margin-bottom  : 20px;
  color:white;
  text-shadow: 0px 0px 4px #3ab0f5, 0px 0px 6px #000, 0px 0px 4px #000;
  text-transform : uppercase;
  font-weight    : 300;
  overflow-x:hidden;
}

.feature-tagline {
  text-shadow: 1px 2px 4px #bf542a, 0px 0px 3px #bf542a;
  padding:1em 0;
  color:#fafaff;
  text-transform : uppercase;
  font-weight: 600;
  margin:0 1em;
}

.weekly-thumb {
  padding:1em;
  border:1px solid #3ab0f5;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition:all 0.3s;
}
.weekly-special {

}

.weekly-special h2, .weekly-special h3{

}

.weekly-special:hover, .weekly-special:active, .weekly-special:focus{
  box-shadow: none;
  transition: all 0.3s;
}

.showcase-header{
  text-transform : uppercase;
  text-shadow: 1px 2px 4px #031020;
}
.purchase-styl {
  background-color : #3f844e;
  border           : none;
  box-shadow       : -1px 2px 0 #6f743f;
  color            : #fff;
  margin-top       : 10px;
  transition:all 0.3s;
}
.purchase-styl:hover,
.purchase-styl:active,
.purchase-styl:focus {
  transition:all 0.3s;
  background-color : #7cb26f;
  box-shadow       : 0 2px 0 #3F844E;
}
/* ---------- //Purchase Section Css Ebd ---------- */
/* ---------- Our Team Divide Section Css ---------- */

.divide {
  border-top : 1px solid #848481;
}
.divide > a {
  display : inline-block;
  padding : 16px 5px 0 5px;
}
/* ---------- //Our Team Divide Section Css End ---------- */

.pull-right a {
  color : #128bc6;
}
.input-group-addon {
  color : #fff;
}

.team img {
  width      : 100%;
  height     : 100%;
  margin-top : 10px;
}
.article img {
  margin-bottom:1em;
}
/* ---------- News Section Css----------*/

.news {
  margin-top : 2%;
}
.news .form-group {
  width : 80%;
}
.news .form-control {
  background-color : #444343;
  border           : 1px solid #5E5E5E;
  color            : #f3f3f3;
}
.news > .form-control:focus {
  border-color       : #5E5E5E;
  outline            : 0;
  -webkit-box-shadow : rgba(0, 0, 0, 0);
  box-shadow         : rgba(0, 0, 0, 0);
}
/* ---------- //News Section Css End ---------- */

.panel-default > .panel-heading {
  color            : #333;
  background-color : #fff;
  border-color     : #DDD;
}
/* ---------- Headings Border Css ---------- */

.heading_border {
  color                   : #fff;
  font-weight             : 100;
  border-top-left-radius  : 0.8em;
  border-top-right-radius : 0.8em;
  margin-bottom           : 15px;
  padding                 : 5px 15px;
}

.tab img {
  width : 100%;
}
.tab {
  padding-left : 0;
}
.tab_list > li {
  padding : 5px;
}
.tab_list {
  margin-top   : 15px;
  padding-left : 0;
}
.profile img {
  width : 100%;
}

footer {
  background: #060609;
  background: linear-gradient(to bottom, #20303f 0%,#1a1a1a 100%);
}
footer h4 {
  color : #fff;
}
.footer-text {
  color   : #ababab;
  padding : 30px 0;
}
footer img {
  width : 50px;
}

.btn{
  letter-spacing: .08em;
}
/* ---------- //Footer Section Css End ---------- */

@media (max-width : 370px) {
  .properties {
    border-right: none;
  }

  .media-object img {
    width: 50%;
  }
}
#owl-demo .item img {
  display : block;
  width   : 100%;
}

#owl-demo {
  margin : 0;
}

.VueCarousel-dot-inner {
  background-color: transparent;
  box-shadow: 1px 1px 1px #000;
}
#bar {
  width      : 0;
  max-width  : 100%;
  height     : 0px;
  background : #464b17;
}
#progressBar {
  width      : 0%;
  background : #EDEDED;
}

.copyright {
  background-color : #1a1a1a;
}
.copyright p {
  color   : #fff;
  padding : 0.5% 0;
  margin  : 0.5% 0;
}

@media (max-width : 990px) {
  .navbar-nav .dropdown-menu:before {
    content : none;
  }
}
@media (max-width : 950px) {
  .profile {
    display      : block;
    margin-right : 4%;
    margin-left  : 4%;
  }
}

/* Terms of Service */
.full-width {
  display : block;
  width   : 100%;
  overflow: hidden;
}
.full-width img {
  display : block;
  width   : 100%;
}
.inline {
  padding-left: 0;
}
.inline li{
  display:inline-block;
  padding:1em;
}
.legal {
  float:left;
}
a.contact-link {
  color:#fff;
  transition:all 0.5s;
  font-weight:300;
}
a.contact-link:hover {
  color:#eaeafa;
  transition:all 0.5s;
}

a.btn-primary {
  color:white;
}

.post {
  border:none;
  border-bottom: 2px solid #ddd;
  background:transparent;
}

.post img{
  width:100%;
}

.btn-register {
  opacity: 0.7;
}

.btn-register:active:hover, .btn-register.active:hover, .open > .dropdown-toggle.btn-register:hover,
.btn-register:active:focus, .btn-register.active:focus, .open > .dropdown-toggle.btn-register:focus,
.btn-register:active.focus, .btn-register.active.focus, .open > .dropdown-toggle.btn-register.focus,
.btn-register:active, .btn-register.active, .open > .dropdown-toggle.btn-register {
  color: white;
  background-color: #3097d1;
  opacity: 1;
}
.scrollable-menu {
  height: auto;
  max-height: 223px;
  overflow-x: hidden;
}
.VueCarousel-slide img {
 width:100%;
}
.newsletter input[type="email"], .form-inline  .btn {
  margin-bottom: 10px;
}

.navbar-icon {
  font-size:21px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color:white;
}
.btn-create, .btn-create:visited,.btn-create:active, .btn-create:focus {
  float:right;
  background-color: #ef9f50;
  color:white;
}
.btn-create:hover {
  color:#efefef;
}
a:link, a:visited, a:hover, a:active {
  color:#3097D1;
}

.taglinks a{
  color: #3097D1;
  font-weight:600;
}
.btn .btn-link {
  color:#3097D1;
}
section img {
  width:100%;
}

.btn .btn-default .btn-notifications-header {
  font-size: 12px;
}
a:link.btn-primary, a:visited.btn-primary, a:hover.btn-primary, a:active.btn-primary {
  color:white;
}

.site-header {
  position:sticky;
  top: 0;
  left: 0;
  z-index: 300;
  background-color: #fafaff;
  box-shadow: 0 1px 2px -2px #000;
}
.dropdown-menu {
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .navbar .dropdown-menu > li > a:focus i, .navbar .dropdown-menu > li > a:hover i {
  color:#3ab0f5;
  background-color:inherit;
  transition:all 0.25s;
}
.thumbnail{
  border:1px solid #3ab0f5;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition:all 0.3s;
  overflow: hidden;
 }

@media (min-width: 768px){
  .thumbnail {
    height: 244px;
  }
  .thumbnail p {
    text-align: left;
  }
}
@media (min-width: 992px){
  .thumbnail {
    height: 275px;
  }
}
@media (min-width: 1200px){
  .thumbnail {
    height: 312px;
  }
}
a:hover .thumbnail, a:active .thumbnail, a:focus .thumbnail{
  border:1px solid rgb(18, 139, 198);
  box-shadow: 0 2px 5px 0 transparent, 0 2px 10px 0 transparent;
  transition:all 0.3s;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: #3ab0f5;
  color:white;
}
.navbar .dropdown-header {
  margin-bottom:0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  background-color:#fafaff;
  color:#3ab0f5;
  transition: all 0.25s;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color:#fafaff;
    color:#3ab0f5;
    transition: all 0.25s;
  }
}
.thumbnail .caption {
  text-shadow: 1px 2px 4px #000, 0px 0px 3px #3ab0f5;
  padding:1em 0;
  color:#fafaff;
  text-transform : uppercase;
  font-weight: 600;
  font-size:1.2em;
  margin:5% 5% 10px 5%;
  transition: all 0.3s;
}
a:hover .thumbnail .caption, a:active .thumbnail .caption, a:focus .thumbnail .caption   {
  text-shadow: 1px 2px 4px #bf542a, 0px 0px 3px #bf542a;
  transition: all 0.3s;
}
.spark-nav-profile-photo {
  border: none;
  border-radius:0;
  height: 46px;
  padding: 2px;
  width: 46px;
  box-shadow: 0px 0px 2px #000;
}
.spark-profile-photo {
  height: 48px;
  width: 48px;
}
.notification {
  font-size: 14px;
}
#modal-notifications .fa-stack {
  font-size:20px;
}
#modal-notifications .notification-content {
  padding-left:50px;
}
.audio-player {
  margin:0 auto;
  padding:1em 1em 0 1em;
  width:100%;
  background-color:transparent;
}
.audio-container{
  overflow-x:hidden;
  margin: 1.5em auto 0.5em auto;
  width:100%;
  padding:0.5rem 0 0.5rem 0;
  border:1px solid #666;
  border-radius:0.5rem;
  box-shadow:-1px 1px 4px #000;
}
.payment-icons li{
  padding:0;
}
.header-photo-preview {
  width:auto;
  height:50vh;
  margin:1em 0 0 0;
  background-size: cover;
  background-repeat:no-repeat;
  border-radius:1em;
  border: 1px solid #666;
  background-color:#ccc;
}
.side-menu li{
  display:block;
  width:100%;
  text-align: left
}
.side-menu li a{
  text-align: left
}

